
* {
    margin: 0px;
    padding:0px;
}

/* fondo body */ 
body {
    background:linear-gradient(to top, #cfd9df 0%, #74c9d3 100%);
}
/* fondo body */

/*agrandar body*/
.tamañoBody {
    height: 1000px;
}
/* agrandar body*/

.espacio {
    margin: 10px;
    padding: 5px;
}

/*.tituloyPagina {
    color: rgb(13, 17, 17);
    font-weight: bold;
}*/

tr td {
    color: rgb(9, 24, 9);
}

/*
.prueba {
    transform:scale(2 , 2) ;
} 
*/


.Raleway {
    font-family: 'Raleway', sans-serif;
}

textarea {
    overflow: auto;
}

.distanciaArriba {
    margin-top: 25px;
    margin-left: 15px;
}

.Footer {
    position :relative;
    width: 100%;
    background-color: rgb(226, 191, 115);
}

.menu li {
    display: inline-block;
    margin: 7px;
    position: relative;
    font-weight: bold;
    border-color: black;
    background-color: rgb(10, 168, 63);
}

.menu li:hover {
    background-color: blanchedalmond;
    border-radius: 5px;
}

.submenu {
    display: none;
    position: absolute;
}

.submenu li {
    background-color: rgb(214, 201, 22);
}


.menu li a:hover {
    color: rgb(20, 21, 29);
}

.menu li:hover .submenu {
    display: block;
}

.iconoFB {
    font-size: 40px;
    color:  #3b5998;
    text-align: center;
    margin: 2px;
    padding: 2px;
    background-color: white;
}

.aumentarTamaño {
    text-align: center;
    color: black;
}
.aumentarTamaño:hover {
    font-weight: bold;
    color: rgb(38, 26, 206);
}

.divRedes {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
}
.iconoWS {
        font-size: 40px;
        color: #25d366;
        text-align: center;
        margin: 2px;
        padding: 2px;
        background-color: white;
    }

    .iconoIG {
    font-size: 40px;
    color: #e1306c;
    text-align: center;
    margin: 2px;
    padding: 2px;
    background-color: white;
    }


.centrarTexto {
    text-align: center;
}

body {
    padding: 9px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    padding: 10px;
}

nav {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.flexTabla {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    height: 250px;
}

.cajaOS {
    width: 105px;
    height: 105px;
    border-style:dotted ;
    border-radius: 3px;
    border-color: rgb(98, 100, 100);
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.articleAcomodado{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90%;

}
.separadorNav  {
    padding: 15px;
}

.acomodarContacto {
    display: flex;
    align-content: center;
}

.tituloContac {
    padding: 10px;
}

.sobreNosFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.cajaArticle {
    width: 150px;
    height: 150px;
    border-style: dotted;
    justify-content: center;
    padding: 2px;
    margin: 35px;
    text-align: center;
    font-family:'Titillium Web', sans-serif;
}

/*aplicando el transform en los div */

.cajaArticle :hover {
    transform: scale( 2 , 2);
    background-color: rgb(79, 194, 194);
    color: rgb(27, 38, 43);
    font-weight: bold;
    overflow: hidden;
}


/*para hacer flexible el html de contacto */
.flexContacto{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}



.acomodarImagenes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.imagen1 {
    margin: 10px;
}

.imagen2 {
    margin: 10px;
}

.imagen3 {
    margin: 10px;
}


.margin10{
    margin-bottom: 20px;
}

.tamañoCar {
    object-fit: cover;
}

.espacioCar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.acomodarRedes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

ul li {
    list-style: none;
    text-decoration: none;
}

h2 {
    text-align: center;
}

@media screen and (max-width:700px)
  {
    .articleAcomodado {
        flex-wrap: wrap;
    }

    .imgTrabajos {
        width: 250px;
        height: auto;
    }

}

.imgTrabajos {
    align-items: center;
}

.imgConsul {
    display: flex;
    justify-content: center;
}

.tamañoImg {
    width: auto;
    height:auto;
}

.mapaOd {
    
    margin: 15px;
}

@media screen and (max-width:510px)

{
    .tamañoImg {

        width: 75%;
        height: 75%;
    }
    
    .mapaOd {
        width: 75%;
        height: 75%;
    }
}

.tamañoImg--Trabajos {
    width: auto;
    height:auto;
}

@media screen and (max-width:510px)

{
    .tamañoImg--Trabajos {

        width: 75%;
        height: 95%;
    }
}

.indexNav {
    z-index: 1;
}

.grupoContacto {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}

.agregarMargen {
    margin: 15px;
}

.estiloCard{
    width: 18rem;
}

.menosTamaño {
    width: 60%;
}

.ubicarT{
    text-align: start;
}

@media screen and (max-width:1000px)
{
    .menosTamaño {
        width: 100%;
    }
    
    .ubicarT {
        text-align: center;
    }
}

.colorNav {
    background-color: #238af1;
}


.footer_abajo {
    position:absolute;
    bottom: 0;
}

@media screen and (max-width:1115px)
{
    .footer_abajo {
        position: relative;
    }
}

.footer_abajo--contacto {
    position:absolute;
    bottom: 0;
}

@media screen and (max-width:692px)
{
    .footer_abajo--contacto {
        position: relative;
    }
}

.footer_abajo--trabajos {
    position:absolute;
    bottom: 0;
}

@media screen and (max-width:1007px)
{
    .footer_abajo--trabajos {
        position: relative;
    }
}

.tituloPrincipal {
    font-family: 'Times New Roman', Times, serif;
}